h1{
  font-family: 'Lexend', sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: #7E69B5;
}

h2{
  font-family: 'Lexend', sans-serif;
  font-weight: 900;
  font-size: 50px;
  color: #7E69B5;
}

ul{
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
  font-size: 30px;
  list-style-position: inside;
  list-style-type: "⭐";
  line-height: 40px;
  color: #A990CD;
}

p{
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #7E69B5;
}

body{
  background-color: #F1E4ED;
}

a {
  font-family: 'Lexend', sans-serif;
  background-image: linear-gradient(
    to right,
    #FDCD0D,
    #FDCD0D 50%,
    #A990CD 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

a:before {
  content: '';
  background: #F2C202;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
 background-position: 0;
}

a:hover::before {
  width:100%;
}
